<%- contentFor('body') %>
<div class="container">
    <!-- slider -->
    <div class="slider">
        <img
          src="img/sample_helix_header1.jpg"
          alt="Gambar Slider 1"
          class="slider-image active"
        />
        <img
          src="img/sample_helix_header_21.jpg"
          alt="Gambar Slider 2"
          class="slider-image"
        />
        <button class="carousel-nav prev">&lt;</button>
        <button class="carousel-nav next">&gt;</button>
      </div>
      <!-- button -->
      <div class="buttons">
        <a href="asisten-dosen.html" class="btn btn-assisten"
          >Assisten Dosen</a
        >
        <a href="himpunan.html" class="btn btn-hmp">HMP</a>
      </div>
      <%- include('partials/pengumuman') %>
      <%- include('partials/kerjasama') %>
      <%- include('partials/teknik-informatika') %>
      <%- include('partials/akreditasi') %>
      <%- include('partials/layanan') %>
</div>